html,
body,
body > #root {
    @apply h-full;
}

body {
    @apply antialiased font-lora font-normal break-words bg-gray-900 text-gray-500;

    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
}
